@page "/User/{id:int}"

<MudBreadcrumbs Items="_breadcrumbs"></MudBreadcrumbs>

@if (!_loaded)
{
    <h3>Loading...</h3>
    <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7" />
}
else
{
    <EditForm Model="model" OnValidSubmit="EditUser">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <MudCard Class="mb-2">
            <MudCardContent>
                <MudTextField Disabled="true" Label="Email" @bind-Value="model.Email" For="@(()=>model.Email)" />
                <MudTextField Disabled="!_AccessEdit" Label="Name" @bind-Value="model.Name" For="@(()=>model.Name)" />
                <MudSwitch Disabled="!_AccessEdit" @bind-Checked="@model.EmailConfirmed" Label="Email Confirmed" Color="Color.Success" />
                <MudDatePicker Disabled="!_AccessEdit" Label="Lockout End" Editable="true" @bind-Date="model.LockoutEnd" />
                <MudSwitch Disabled="!_AccessEdit" @bind-Checked="@model.LockoutEnabled" Label="Lockout" Color="Color.Success" />
                <MudTextField Disabled="!_AccessEdit" Label="Access Failed Count" @bind-Value="model.AccessFailedCount" For="@(()=>model.AccessFailedCount)" />
                <MudTextField Disabled="true" Label="Account Created" @bind-Value="model.AccountCreatedDateTime" For="@(()=>model.AccountCreatedDateTime)" />
                <MudTextField Disabled="true" Label="Last Password Change" @bind-Value="model.LastPasswordChangeDateTime" For="@(()=>model.LastPasswordChangeDateTime)" />
                @if (model.Id != 1)
                {
                    <MudSwitch Disabled="!_AccessEdit" @bind-Checked="@model.IsEnabled" Label="Is Enabled" Color="Color.Success" />
                }
            </MudCardContent>
        </MudCard>

        <MudButton Disabled="!_AccessEdit" Color="Color.Primary" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Class="mb-2">Save</MudButton>
        <MudButton Disabled="!_AccessEdit" Color="Color.Primary" Variant="Variant.Filled" OnClick="CancelChanges" Class="mb-2">Cancel</MudButton>

    </EditForm>
    <MudDivider />

    <UserChangePassword UserId="model.Id" />
    <MudDivider />

    <MudExpansionPanels>
        @if (_AccessUserRolesView)
        {
            <MudExpansionPanel Text="User Applications">
                <UserApplications UserId="@id" />
            </MudExpansionPanel>
        }
        @if (_AccessUserRolesView)
        {
            <MudExpansionPanel Text="User Roles">
                <UserRoles UserId="@id" UserRoleChanged="RefreshUserPermissions" />
            </MudExpansionPanel>
        }
        @if (_AccessUserPermissionsView)
        {
            <MudExpansionPanel Text="User Permissions">
                <UserPermissions UserId="@id" @ref="userPermissionsComponent" />
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
}