@using BlazorWASMCustomAuth.Security.Shared;
@using System.Security.Claims;

@if (!_loaded)
{
    <h3>Loading...</h3>
    <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7" />
}

<MudTable Elevation="25" RowsPerPage="5" ServerData="@(new Func<TableState, Task<TableData<ApplicationRoleDto>>>(ServerReload))" Hover="true" Dense="true" Bordered="true" Striped="true" @ref="_table">
    <ToolBarContent>

        @if (_AccessApplicationRolesCreate)
        {
            <div class="justify-center mud-text-align-center">
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => CreateApplicationRole())" StartIcon="@Icons.Material.Filled.Create" IconColor="Color.Surface" Color="Color.Primary">Create Role</MudButton>
            </div>
        }
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>

        <MudTh><MudTableSortLabel T="ApplicationRoleDto" SortLabel="RoleName">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="ApplicationRoleDto" SortLabel="RoleDescription">Description</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="RoleName">
            <MudHighlighter Text="@context.RoleName" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="RoleDescription">
            <MudHighlighter Text="@context.RoleDescription" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="">     

            <MudTooltip Text="View/Edit Role">
                <MudIconButton OnClick="() => ViewApplicationRole(context.Id)"
                               Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Primary"
                               Variant="Variant.Filled">
                </MudIconButton>
            </MudTooltip>

            &nbsp;

            @if (context.ApplicationId != 1)
            {
                if (context.RoleDisabled == false)
                {
                    <MudTooltip Text="Disable Role">
                        <MudIconButton OnClick="@( async() => await DisableEnableApplicationRole(context))"
                                       Icon="@Icons.Material.Filled.WorkOff"
                                       Color="Color.Primary"
                                       Variant="Variant.Filled">
                        </MudIconButton>
                    </MudTooltip>
                }
                else
                {
                    <MudTooltip Text="Enable Role">
                        <MudIconButton OnClick="@( async() => await DisableEnableApplicationRole(context))"
                                       Icon="@Icons.Material.Filled.Work"
                                       Color="Color.Primary"
                                       Variant="Variant.Filled">
                        </MudIconButton>
                    </MudTooltip>
                }

                @:&nbsp;

                <MudTooltip Text="Delete Role">
                    <MudIconButton OnClick="@( async() => await DeleteApplicationRole(context))"
                                   Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Primary"
                                   Variant="Variant.Filled">
                    </MudIconButton>
                </MudTooltip>

            }

        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{5, 10, 50, 100}" />
    </PagerContent>
</MudTable>