@if (!_loaded)
{
    <h3>Loading...</h3>
    <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7" />
}

<MudTable Elevation="25" RowsPerPage="5" ServerData="@(new Func<TableState, Task<TableData<ApplicationPermissionDto>>>(ServerReload))" Hover="true" Dense="true" Bordered="true" Striped="true" @ref="_table">
    <ToolBarContent>

        @if (_AccessApplicationPermissionsCreate)
        {
            <div class="justify-center mud-text-align-center">
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => CreateApplicationPermission())" StartIcon="@Icons.Material.Filled.Create" IconColor="Color.Surface" Color="Color.Primary">Create Permission</MudButton>
             </div>
        }
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>

        <MudTh><MudTableSortLabel T="ApplicationPermissionDto" SortLabel="PermissionName">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="ApplicationPermissionDto" SortLabel="PermissionDescription">Description</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="PermissionName">
            <MudHighlighter Text="@context.PermissionName" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="PermissionDescription">
            <MudHighlighter Text="@context.PermissionDescription" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="">

            <MudIconButton OnClick="() => ViewApplicationPermission(context.Id)"
                           Icon="@Icons.Material.Filled.Edit"
                           Color="Color.Primary"
                           Variant="Variant.Filled">
            </MudIconButton>

            &nbsp;

            @if (context.ApplicationId != 1)
            {
                if (context.PermissionDisabled == false)
                {
                    <MudTooltip Text="Disable Permission">
                        <MudIconButton OnClick="@( async() => await DisableEnableApplicationPermission(context))"
                                       Icon="@Icons.Material.Filled.WorkOff"
                                       Color="Color.Primary"
                                       Variant="Variant.Filled">
                        </MudIconButton>
                    </MudTooltip>
                }
                else
                {
                    <MudTooltip Text="Enable Permission">
                        <MudIconButton OnClick="@( async() => await DisableEnableApplicationPermission(context))"
                                       Icon="@Icons.Material.Filled.Work"
                                       Color="Color.Primary"
                                       Variant="Variant.Filled">
                        </MudIconButton>
                    </MudTooltip>
                }

                @:&nbsp;

                <MudTooltip Text="Delete Permission">
                    <MudIconButton OnClick="@( async() => await DeleteApplicationPermission(context))"
                                   Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Primary"
                                   Variant="Variant.Filled">
                    </MudIconButton>
                </MudTooltip>

            }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{5, 10, 50, 100}" />
    </PagerContent>
</MudTable>