@page "/userviewedit/{id:int}"

<MudBreadcrumbs Items="_breadcrumbs"></MudBreadcrumbs>

@if (!_loaded)
{
    <h3>Loading...</h3>
    <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7" />
}
else
{
    <EditForm Model="user" OnValidSubmit="EditUser">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <MudCard Class="mb-2">
            <MudCardContent>

                <MudTextField Disabled="!_AccessUsersEdit" Label="Email" @bind-Value="user.Email"
                          For="@(()=>user.Email)">
                </MudTextField>

                <MudTextField Disabled="!_AccessUsersEdit" Label="Name" @bind-Value="user.Name"
                          For="@(()=>user.Name)">
                </MudTextField>

                <MudSwitch Disabled="!_AccessUsersEdit" @bind-Checked="@user.EmailConfirmed" Label="Email Confirmed" Color="Color.Success" />

                <MudDatePicker Disabled="!_AccessUsersEdit" Label="Lockout End" Editable="true" @bind-Date="user.LockoutEnd" />

                <MudSwitch Disabled="!_AccessUsersEdit" @bind-Checked="@user.LockoutEnabled" Label="Lockout" Color="Color.Success" />

                <MudTextField Disabled="!_AccessUsersEdit" Label="Access Failed Count" @bind-Value="user.AccessFailedCount"
                          For="@(()=>user.AccessFailedCount)">
                </MudTextField>

                <MudSwitch Disabled="!_AccessUsersEdit" @bind-Checked="@user.TwoFactorEnabled" Label="Two Factor" Color="Color.Success" />

            </MudCardContent>
        </MudCard>

        <MudButton Disabled="!_AccessUsersEdit" Color="Color.Primary" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Class="mb-2">Save</MudButton>
        <MudButton Disabled="!_AccessUsersEdit" Color="Color.Primary" Variant="Variant.Filled" OnClick="CancelChanges" Class="mb-2">Cancel</MudButton>

    </EditForm>

    <MudDivider />

    <MudExpansionPanels>
        @if (_AccessUserRolesView)
        {
            <MudExpansionPanel Text="User Roles">
                <UserRoles UserId="@id" UserRoleChanged="RefreshUserPermissions"/>
            </MudExpansionPanel>
        }
        @if (_AccessUserPermissionsView)
        {
            <MudExpansionPanel Text="User Permissions">
                <UserPermissions UserId="@id" @ref="userPermissionsComponent" />
            </MudExpansionPanel>
        }
        @if (_AccessUserPasswordsCreate)
        {
            <MudExpansionPanel Text="User Password">
                <UserChangePassword UserId="@id" />
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
}