@page "/Applications"
@using DsK.AuthServer.Security.Shared;
@using System.Security.Claims;

@if (!_loaded)
{
    <h3>Loading...</h3>
    <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7" />
}

<MudTable Elevation="25" RowsPerPage="5" ServerData="@(new Func<TableState, Task<TableData<ApplicationDto>>>(ServerReload))" Hover="true" Dense="true" Bordered="true" Striped="true" @ref="_table">
    <ToolBarContent>
        @if (_AccessCreate)
        {
            <div class="justify-center mud-text-align-center">
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => CreateApplication())" StartIcon="@Icons.Material.Filled.Create" IconColor="Color.Surface" Color="Color.Primary">Create Application</MudButton>
             </div>
        }
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel T="ApplicationDto" SortLabel="ApplicationName">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="ApplicationDto" SortLabel="ApplicationDesc">Description</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ApplicationName">
            <MudHighlighter Text="@context.ApplicationName" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="ApplicationDesc">
            <MudHighlighter Text="@context.ApplicationDesc" HighlightedText="@_searchString" />
        </MudTd>

        <MudTd DataLabel="">
            <MudTooltip Text="View/Edit Application">
                <MudIconButton OnClick="() => ViewApplication(context.Id)"
                               Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Info"
                               Variant="Variant.Outlined">
                </MudIconButton>
            </MudTooltip>

            &nbsp;
            
            @if (context.Id != 1)
            {
                if (context.IsEnabled)
                {
                    <MudTooltip Text="Disable Application">
                        <MudIconButton OnClick="@( async() => await IsEnabledToggle(context))"
                                       Icon="@Icons.Material.Filled.Work"
                                       Color="Color.Success"
                                       Variant="Variant.Outlined">
                        </MudIconButton>
                    </MudTooltip>
                }
                else
                {
                    <MudTooltip Text="Enable Application">
                        <MudIconButton OnClick="@( async() => await IsEnabledToggle(context))"
                                       Icon="@Icons.Material.Filled.WorkOff"
                                       Color="Color.Error"
                                       Variant="Variant.Outlined">
                        </MudIconButton>
                    </MudTooltip>
                }

                @:&nbsp;

                <MudTooltip Text="Delete Application">
                    <MudIconButton OnClick="@( async() => await DeleteApplication(context))"
                                   Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   Variant="Variant.Outlined">
                    </MudIconButton>
                </MudTooltip>
            }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{5, 10, 50, 100}" />
    </PagerContent>
</MudTable>