@page "/admin/AuthenticationProviderViewEdit/{id:int}"

<MudBreadcrumbs Items="_breadcrumbs"></MudBreadcrumbs>

@if (!_loaded)
{
    <h3>Loading...</h3>
    <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7" />
}
else
{
    <EditForm Model="model" OnValidSubmit="Edit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <MudCard Class="mb-2">
            <MudCardContent>
                <MudTextField Disabled="!_AccessAuthenticationProviderEdit" ReadOnly="true" Label="Authentication Provider Name" @bind-Value="model.AuthenticationProviderName"
                          For="@(()=>model.AuthenticationProviderName)">
                </MudTextField>
                <MudTextField Disabled="!_AccessAuthenticationProviderEdit" ReadOnly="true" Label="Authentication Provider Type" @bind-Value="model.AuthenticationProviderType"
                          For="@(()=>model.AuthenticationProviderType)">
                </MudTextField>
                <MudTextField Disabled="!_AccessAuthenticationProviderEdit" Label="Domain" @bind-Value="model.Domain"
                          For="@(()=>model.Domain)">
                </MudTextField>
                <MudTextField Disabled="!_AccessAuthenticationProviderEdit" Label="Username" @bind-Value="model.Username"
                          For="@(()=>model.Username)">
                </MudTextField>
                <MudTextField Disabled="!_AccessAuthenticationProviderEdit" Label="Password" @bind-Value="model.Password"
                          For="@(()=>model.Password)" InputType="InputType.Password">
                </MudTextField>
            </MudCardContent>
        </MudCard>

        @if (model.AuthenticationProviderName != "Local")
        {
            <MudButton Disabled="!_AccessAuthenticationProviderEdit" Color="Color.Primary" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Class="mb-2">Save</MudButton>
            <MudButton Disabled="!_AccessAuthenticationProviderEdit" Color="Color.Primary" Variant="Variant.Filled" OnClick="CancelChanges" Class="mb-2">Cancel</MudButton>
        }

    </EditForm>
}