@page "/admin/AuthenticationProviderViewEdit/{id:int}"

@*<AuthorizeView>
    <Authorized>*@

<MudBreadcrumbs Items="_breadcrumbs"></MudBreadcrumbs>

@if (!_loaded)
{
    <h3>Loading...</h3>
}
else
{
    if (_EditMode)
    {
        <EditForm Model="model" OnValidSubmit="Edit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudCard Class="mb-2">
                <MudCardContent>
                    <MudTextField Label="Authentication Provider Name" @bind-Value="model.AuthenticationProviderName"
                          For="@(()=>model.AuthenticationProviderName)">
                    </MudTextField>
                    <MudTextField Label="Authentication Provider Type" @bind-Value="model.AuthenticationProviderType"
                          For="@(()=>model.AuthenticationProviderType)">
                    </MudTextField>
                    <MudTextField Label="Domain" @bind-Value="model.Domain"
                          For="@(()=>model.Domain)">
                    </MudTextField>
                    <MudTextField Label="Username" @bind-Value="model.Username"
                          For="@(()=>model.Username)">
                    </MudTextField>
                    <MudTextField Label="Password" @bind-Value="model.Password"
                          For="@(()=>model.Password)">
                    </MudTextField>
                </MudCardContent>
            </MudCard>
            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Class="mb-2">Save</MudButton>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="CancelChanges" Class="mb-2">Cancel</MudButton>
        </EditForm>
    }
    else
    {
        <EditForm Model="model">
            <MudCard Class="mb-2">
                <MudCardContent>
                    <MudTextField ReadOnly="true" Label="Authentication Provider Name" @bind-Value="model.AuthenticationProviderName"
                          For="@(()=>model.AuthenticationProviderName)">
                    </MudTextField>
                    <MudTextField ReadOnly="true" Label="Authentication Provider Type" @bind-Value="model.AuthenticationProviderType"
                          For="@(()=>model.AuthenticationProviderType)">
                    </MudTextField>
                    <MudTextField ReadOnly="true" Label="Domain" @bind-Value="model.Domain"
                          For="@(()=>model.Domain)">
                    </MudTextField>
                    <MudTextField ReadOnly="true" Label="Username" @bind-Value="model.Username"
                          For="@(()=>model.Username)">
                    </MudTextField>
                    <MudTextField ReadOnly ="true" Label="Password" @bind-Value="model.Password"
                                  For="@(()=>model.Password)">
                    </MudTextField>
                </MudCardContent>
            </MudCard>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="EnableEditMode" Class="mb-2">Edit</MudButton>
        </EditForm>
    }
}


@*    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>*@
