@page "/admin/userview/{id:int}"

@*<AuthorizeView>
    <Authorized>*@
<h3><NavLink href="/admin/users">Users</NavLink> > User View</h3>

@if (!_loaded)
{
    <h3>Loading...</h3>
}
else
{
    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="() => EditUser(user.Id)" Class="mb-2">Edit User</MudButton>

    <EditForm Model="user">
        <MudCard Class="mb-2">
            <MudCardContent>

                <MudTextField ReadOnly="true" Label="Username" @bind-Value="user.Username"
                          For="@(()=>user.Username)">
                </MudTextField>

                <MudTextField ReadOnly="true" Label="Email" @bind-Value="user.Email"
                          For="@(()=>user.Email)">
                </MudTextField>

                <MudTextField ReadOnly="true" Label="Name" @bind-Value="user.Name"
                          For="@(()=>user.Name)">
                </MudTextField>

                <MudSwitch ReadOnly="true" @bind-Checked="@user.EmailConfirmed" Label="Email Confirmed" Color="Color.Success" />

                <MudDatePicker ReadOnly="true" Label="Lockout End" Editable="true" @bind-Date="user.LockoutEnd" />

                <MudSwitch ReadOnly="true" @bind-Checked="@user.LockoutEnabled" Label="Lockout" Color="Color.Success" />

                <MudTextField ReadOnly="true" Label="Access Failed Count" @bind-Value="user.AccessFailedCount"
                          For="@(()=>user.AccessFailedCount)">
                </MudTextField>

                <MudSwitch ReadOnly="true" @bind-Checked="@user.TwoFactorEnabled" Label="Two Factor" Color="Color.Success" />

            </MudCardContent>
        </MudCard>
    </EditForm>
}


@*    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>*@
