@page "/admin/users"

@using BlazorWASMCustomAuth.Security.Shared;
@using BlazorWASMCustomAuth.PagingSortingFiltering;
@using System.Security.Claims;

@*<AuthorizeView>
    <Authorized>*@
<h2>Users</h2>
@if (!_loaded)
{
    <h3>Loading...</h3>
}
else
{
    
    <MudButton OnClick="CreateUser">Create User</MudButton>
    <MudTable Items="users" Hover="true" Striped="true" Dense="true" Class="mb-2">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Username</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>View</MudTh>
            <MudTh>Edit</MudTh>
            <MudTh>Delete</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Username">@context.Username</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Email">@context.Email</MudTd>            
            <MudTd DataLabel="ViewUser">
                <MudIconButton OnClick="() => ViewUser(context.Id)"
                           Icon="@Icons.Material.Filled.Create"
                           Color="Color.Primary"
                           Variant="Variant.Filled">
                </MudIconButton>
            </MudTd>
            <MudTd DataLabel="EditUser">
                <MudIconButton OnClick="() => EditUser(context.Id)"
                               Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Primary"
                               Variant="Variant.Filled">
                </MudIconButton>
            </MudTd>
            <MudTd DataLabel="DeleteUser">
                <MudIconButton OnClick="() => DeleteUser(context.Id)"
                           Icon="@Icons.Material.Filled.Delete"
                           Color="Color.Primary"
                           Variant="Variant.Filled">
                </MudIconButton>
            </MudTd>
        </RowTemplate>
    </MudTable>

    <ul>
        @*<li>Current Page : @response.CurrentPage</li>
    <li>Total Pages : @response.TotalPages</li>
    <li>Page Size : @response.PageSize</li>
    <li>Total Rows : @response.TotalRows</li>*@
    </ul>
}
@*    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>*@
